extend /layout

block main-content
  .products

    p.
      Sample product list.

    .product-list
      each prod, id in products
        .product-mini-teaser
          h2.product-name
            a(href=router.url('product-detail', id)) #{prod.name}
          p.product-shot
            a(href=router.url('product-detail', id))
              img(src="http://via.placeholder.com/250x150")
          p
            strong $#{prod.price}
