html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
figcaption,
figure,
main {
  display: block;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details,
menu {
  display: block;
}
summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 1em;
}
blockquote * {
  font-family: serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.80274em 0 0.64439em 0;
}
header {
  margin: 1em 0;
}
header h1 {
  margin-bottom: 0;
}
header .subheading {
  margin: 0.333em 0;
}
p,
ul,
ol,
dl,
blockquote,
pre,
table {
  margin: 0.80274em 0;
}
ul {
  padding-left: 1.5em;
}
blockquote {
  margin-left: 1em;
  margin-right: 1em;
}
a.external {
  background: url("/_img/ground-floor/external-link-icon-light.png") no-repeat scroll right center transparent;
  padding-right: 13px;
}
dt {
  margin: 1em 0 0 0;
  font-style: italic;
}
dd {
  margin: 0.5em 0 0 1em;
}
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  font-weight: normal;
}
pre {
  padding: 5px;
  overflow-x: auto;
  overflow-y: hidden;
  line-height: 1.4;
}
code,
kbd,
samp {
  padding: 0 3px;
  border: 1px solid #eaeaea;
  border-radius: 3px;
  background-color: #f8f8f8;
  color: #666;
}
.codeblock {
  padding: 0.5em;
  border-radius: 6px;
}
.codeblock,
.codeblock code,
.codeblock kbd,
.codeblock samp {
  color: #aaa;
  background-color: #111;
}
.codeblock code,
.codeblock kbd,
.codeblock samp {
  padding: 0;
  border: none;
}
h1 {
  font-size: 3em;
}
.subheading {
  font-size: 1.24573em;
}
h2 {
  font-size: 2.40822em;
}
h3 {
  font-size: 1.93318em;
}
h4 {
  font-size: 1.55185em;
}
h5 {
  font-size: 1.24573em;
}
h6 {
  font-size: 1em;
}
section h1,
footer h1 {
  font-size: 2.40822em;
}
section h2,
footer h2 {
  font-size: 1.93318em;
}
section h3,
footer h3 {
  font-size: 1.55185em;
}
section h4,
footer h4 {
  font-size: 1.24573em;
}
section h5,
footer h5 {
  font-size: 1em;
}
section section h1,
footer section h1,
section article h1,
footer article h1,
section footer h1,
footer footer h1 {
  font-size: 1.93318em;
}
section section h2,
footer section h2,
section article h2,
footer article h2,
section footer h2,
footer footer h2 {
  font-size: 1.55185em;
}
section section h3,
footer section h3,
section article h3,
footer article h3,
section footer h3,
footer footer h3 {
  font-size: 1.24573em;
}
section section h4,
footer section h4,
section article h4,
footer article h4,
section footer h4,
footer footer h4 {
  font-size: 1em;
}
section section section h1,
footer section section h1,
section article section h1,
footer article section h1,
section footer section h1,
footer footer section h1,
section section article h1,
footer section article h1,
section article article h1,
footer article article h1,
section footer article h1,
footer footer article h1,
section section footer h1,
footer section footer h1,
section article footer h1,
footer article footer h1,
section footer footer h1,
footer footer footer h1 {
  font-size: 1.55185em;
}
section section section h2,
footer section section h2,
section article section h2,
footer article section h2,
section footer section h2,
footer footer section h2,
section section article h2,
footer section article h2,
section article article h2,
footer article article h2,
section footer article h2,
footer footer article h2,
section section footer h2,
footer section footer h2,
section article footer h2,
footer article footer h2,
section footer footer h2,
footer footer footer h2 {
  font-size: 1.24573em;
}
section section section h3,
footer section section h3,
section article section h3,
footer article section h3,
section footer section h3,
footer footer section h3,
section section article h3,
footer section article h3,
section article article h3,
footer article article h3,
section footer article h3,
footer footer article h3,
section section footer h3,
footer section footer h3,
section article footer h3,
footer article footer h3,
section footer footer h3,
footer footer footer h3 {
  font-size: 1em;
}
section section section section h1,
footer section section section h1,
section article section section h1,
footer article section section h1,
section footer section section h1,
footer footer section section h1,
section section article section h1,
footer section article section h1,
section article article section h1,
footer article article section h1,
section footer article section h1,
footer footer article section h1,
section section footer section h1,
footer section footer section h1,
section article footer section h1,
footer article footer section h1,
section footer footer section h1,
footer footer footer section h1,
section section section article h1,
footer section section article h1,
section article section article h1,
footer article section article h1,
section footer section article h1,
footer footer section article h1,
section section article article h1,
footer section article article h1,
section article article article h1,
footer article article article h1,
section footer article article h1,
footer footer article article h1,
section section footer article h1,
footer section footer article h1,
section article footer article h1,
footer article footer article h1,
section footer footer article h1,
footer footer footer article h1,
section section section footer h1,
footer section section footer h1,
section article section footer h1,
footer article section footer h1,
section footer section footer h1,
footer footer section footer h1,
section section article footer h1,
footer section article footer h1,
section article article footer h1,
footer article article footer h1,
section footer article footer h1,
footer footer article footer h1,
section section footer footer h1,
footer section footer footer h1,
section article footer footer h1,
footer article footer footer h1,
section footer footer footer h1,
footer footer footer footer h1 {
  font-size: 1.24573em;
}
section section section section h2,
footer section section section h2,
section article section section h2,
footer article section section h2,
section footer section section h2,
footer footer section section h2,
section section article section h2,
footer section article section h2,
section article article section h2,
footer article article section h2,
section footer article section h2,
footer footer article section h2,
section section footer section h2,
footer section footer section h2,
section article footer section h2,
footer article footer section h2,
section footer footer section h2,
footer footer footer section h2,
section section section article h2,
footer section section article h2,
section article section article h2,
footer article section article h2,
section footer section article h2,
footer footer section article h2,
section section article article h2,
footer section article article h2,
section article article article h2,
footer article article article h2,
section footer article article h2,
footer footer article article h2,
section section footer article h2,
footer section footer article h2,
section article footer article h2,
footer article footer article h2,
section footer footer article h2,
footer footer footer article h2,
section section section footer h2,
footer section section footer h2,
section article section footer h2,
footer article section footer h2,
section footer section footer h2,
footer footer section footer h2,
section section article footer h2,
footer section article footer h2,
section article article footer h2,
footer article article footer h2,
section footer article footer h2,
footer footer article footer h2,
section section footer footer h2,
footer section footer footer h2,
section article footer footer h2,
footer article footer footer h2,
section footer footer footer h2,
footer footer footer footer h2 {
  font-size: 1em;
}
section section section section section h1,
footer section section section section h1,
section article section section section h1,
footer article section section section h1,
section footer section section section h1,
footer footer section section section h1,
section section article section section h1,
footer section article section section h1,
section article article section section h1,
footer article article section section h1,
section footer article section section h1,
footer footer article section section h1,
section section footer section section h1,
footer section footer section section h1,
section article footer section section h1,
footer article footer section section h1,
section footer footer section section h1,
footer footer footer section section h1,
section section section article section h1,
footer section section article section h1,
section article section article section h1,
footer article section article section h1,
section footer section article section h1,
footer footer section article section h1,
section section article article section h1,
footer section article article section h1,
section article article article section h1,
footer article article article section h1,
section footer article article section h1,
footer footer article article section h1,
section section footer article section h1,
footer section footer article section h1,
section article footer article section h1,
footer article footer article section h1,
section footer footer article section h1,
footer footer footer article section h1,
section section section footer section h1,
footer section section footer section h1,
section article section footer section h1,
footer article section footer section h1,
section footer section footer section h1,
footer footer section footer section h1,
section section article footer section h1,
footer section article footer section h1,
section article article footer section h1,
footer article article footer section h1,
section footer article footer section h1,
footer footer article footer section h1,
section section footer footer section h1,
footer section footer footer section h1,
section article footer footer section h1,
footer article footer footer section h1,
section footer footer footer section h1,
footer footer footer footer section h1,
section section section section article h1,
footer section section section article h1,
section article section section article h1,
footer article section section article h1,
section footer section section article h1,
footer footer section section article h1,
section section article section article h1,
footer section article section article h1,
section article article section article h1,
footer article article section article h1,
section footer article section article h1,
footer footer article section article h1,
section section footer section article h1,
footer section footer section article h1,
section article footer section article h1,
footer article footer section article h1,
section footer footer section article h1,
footer footer footer section article h1,
section section section article article h1,
footer section section article article h1,
section article section article article h1,
footer article section article article h1,
section footer section article article h1,
footer footer section article article h1,
section section article article article h1,
footer section article article article h1,
section article article article article h1,
footer article article article article h1,
section footer article article article h1,
footer footer article article article h1,
section section footer article article h1,
footer section footer article article h1,
section article footer article article h1,
footer article footer article article h1,
section footer footer article article h1,
footer footer footer article article h1,
section section section footer article h1,
footer section section footer article h1,
section article section footer article h1,
footer article section footer article h1,
section footer section footer article h1,
footer footer section footer article h1,
section section article footer article h1,
footer section article footer article h1,
section article article footer article h1,
footer article article footer article h1,
section footer article footer article h1,
footer footer article footer article h1,
section section footer footer article h1,
footer section footer footer article h1,
section article footer footer article h1,
footer article footer footer article h1,
section footer footer footer article h1,
footer footer footer footer article h1,
section section section section footer h1,
footer section section section footer h1,
section article section section footer h1,
footer article section section footer h1,
section footer section section footer h1,
footer footer section section footer h1,
section section article section footer h1,
footer section article section footer h1,
section article article section footer h1,
footer article article section footer h1,
section footer article section footer h1,
footer footer article section footer h1,
section section footer section footer h1,
footer section footer section footer h1,
section article footer section footer h1,
footer article footer section footer h1,
section footer footer section footer h1,
footer footer footer section footer h1,
section section section article footer h1,
footer section section article footer h1,
section article section article footer h1,
footer article section article footer h1,
section footer section article footer h1,
footer footer section article footer h1,
section section article article footer h1,
footer section article article footer h1,
section article article article footer h1,
footer article article article footer h1,
section footer article article footer h1,
footer footer article article footer h1,
section section footer article footer h1,
footer section footer article footer h1,
section article footer article footer h1,
footer article footer article footer h1,
section footer footer article footer h1,
footer footer footer article footer h1,
section section section footer footer h1,
footer section section footer footer h1,
section article section footer footer h1,
footer article section footer footer h1,
section footer section footer footer h1,
footer footer section footer footer h1,
section section article footer footer h1,
footer section article footer footer h1,
section article article footer footer h1,
footer article article footer footer h1,
section footer article footer footer h1,
footer footer article footer footer h1,
section section footer footer footer h1,
footer section footer footer footer h1,
section article footer footer footer h1,
footer article footer footer footer h1,
section footer footer footer footer h1,
footer footer footer footer footer h1 {
  font-size: 1em;
}
aside h1 {
  font-size: 1.93318em;
}
aside h2 {
  font-size: 1.55185em;
}
aside h3 {
  font-size: 1.24573em;
}
aside h4 {
  font-size: 1em;
}
aside h5,
aside h6 {
  font-size: 1em;
}
section aside h1,
footer aside h1 {
  font-size: 1.55185em;
}
section aside h2,
footer aside h2 {
  font-size: 1.24573em;
}
section aside h3,
footer aside h3 {
  font-size: 1em;
}
section section aside h1,
footer section aside h1,
section article aside h1,
footer article aside h1,
section footer aside h1,
footer footer aside h1 {
  font-size: 1.24573em;
}
section section aside h2,
footer section aside h2,
section article aside h2,
footer article aside h2,
section footer aside h2,
footer footer aside h2 {
  font-size: 1em;
}
section section section aside h1,
footer section section aside h1,
section article section aside h1,
footer article section aside h1,
section footer section aside h1,
footer footer section aside h1,
section section article aside h1,
footer section article aside h1,
section article article aside h1,
footer article article aside h1,
section footer article aside h1,
footer footer article aside h1,
section section footer aside h1,
footer section footer aside h1,
section article footer aside h1,
footer article footer aside h1,
section footer footer aside h1,
footer footer footer aside h1 {
  font-size: 1em;
}
aside p,
aside ul,
aside ol,
aside li,
aside dl,
aside dt,
aside dd,
aside blockquote,
aside pre,
aside table {
  font-size: 1em;
}
#top-bar,
#bottom-bar {
  overflow: auto;
}
#top-bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 3em;
}
#top-bar ul >li {
  display: block;
  float: left;
}
#top-bar ul >li a {
  display: block;
  height: 3em;
  padding: 0 15px;
}
footer {
  color: $footerTxtColor;
  background-color: $footerBgColor;
  margin: footer-margin 0 0 0;
  padding: 0;
}
footer h1,
footer h2,
footer h3,
footer h4,
footer h5,
footer h6 {
  color: $footerHeaderColor;
}
footer .social-media .icons {
  text-align: justify;
  font-size: 3.73719em;
}
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.video-container iframe,
.video-slide iframe,
.video-container object,
.video-slide object,
.video-container embed,
.video-slide embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media only screen and (min-width: 641px) and (max-width: 1040px) {
  p,
  ul,
  ol,
  li,
  dl,
  dt,
  dd,
  blockquote,
  pre,
  table {
    font-size: 1em;
  }
}
@media only screen and (max-width: 640px) {
  p,
  ul,
  ol,
  li,
  dl,
  dt,
  dd,
  blockquote,
  pre,
  table {
    font-size: 1em;
  }
  h1 {
    font-size: 2.40822em;
  }
  .subHeading {
    font-size: 1em;
  }
  section h1 {
    font-size: 1.93318em;
  }
  section section h1 {
    font-size: 1.55185em;
  }
  section section section h1 {
    font-size: 1.24573em;
  }
  section section section section h1 {
    font-size: 1em;
  }
  section section section section section h1 {
    font-size: 1em;
  }
  h2 {
    font-size: 1.93318em;
  }
  h3 {
    font-size: 1.55185em;
  }
  h4 {
    font-size: 1.24573em;
  }
  h5 {
    font-size: 1em;
  }
  h6 {
    font-size: 1em;
  }
  #top-bar ul >li {
    float: none;
    width: 100%;
  }
  footer .social-media .icons {
    font-size: 3em;
  }
}
.product-list::after {
  content: '';
  display: table;
  clear: both;
}
.product-mini-teaser {
  float: left;
  clear: none;
  text-align: inherit;
  width: 22.75%;
  margin-left: 0%;
  margin-right: 3%;
}
.product-mini-teaser::after {
  content: '';
  display: table;
  clear: both;
}
.product-mini-teaser:nth-child(n) {
  margin-right: 3%;
  float: left;
  clear: none;
}
.product-mini-teaser:nth-child(4n) {
  margin-right: 0%;
  float: right;
}
.product-mini-teaser:nth-child(4n + 1) {
  clear: both;
}
.product-mini-teaser .product-name {
  font-size: 1.24573em;
  height: 2em;
}
.product-mini-teaser .product-shot {
  text-align: center;
}
.product-mini-teaser .product-shot img {
  max-width: 100%;
}
.product-shot {
  text-align: center;
}
.product-shot img {
  max-width: 100%;
}
@media only screen and (max-width: 1440px) {
  .product-mini-teaser .product-name {
    font-size: 1em;
  }
}
@media only screen and (max-width: 1280px) {
  .product-mini-teaser .product-name {
    font-size: 0.80274em;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1040px) {
  .product-mini-teaser .product-name {
    height: auto;
  }
}
@media only screen and (max-width: 800px) {
  .product-mini-teaser {
    float: left;
    clear: none;
    text-align: inherit;
    width: 48.5%;
    margin-left: 0%;
    margin-right: 3%;
  }
  .product-mini-teaser::after {
    content: '';
    display: table;
    clear: both;
  }
  .product-mini-teaser:nth-child(n) {
    margin-right: 3%;
    float: left;
    clear: none;
  }
  .product-mini-teaser:nth-child(2n) {
    margin-right: 0%;
    float: right;
  }
  .product-mini-teaser:nth-child(2n + 1) {
    clear: both;
  }
  .product-mini-teaser .product-name {
    font-size: 1em;
  }
}
@media only screen and (max-width: 640px) {
  .product-mini-teaser .product-name {
    font-size: 1em;
    height: auto;
  }
}
@media only screen and (max-width: 480px) {
  .product-mini-teaser {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .product-mini-teaser:first-child {
    margin-left: auto;
  }
  .product-mini-teaser:last-child {
    margin-right: auto;
  }
}
#tic-tac-toe {
  margin: 0.5em 0;
}
.board-rowafter {
  clear: both;
  content: "";
  display: table;
}
.status {
  margin-bottom: 10px;
}
.square {
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}
.squarefocus {
  outline: none;
}
.kbd-navigation .squarefocus {
  background: #ddd;
}
.game {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.game-info {
  margin-left: 20px;
}
.regular-width,
#top-bar nav,
#bottom-bar footer {
  width: auto;
  max-width: 1440px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  padding-left: 3%;
  padding-right: 3%;
}
.regular-width::after,
#top-bar nav::after,
#bottom-bar footer::after {
  content: '';
  display: table;
  clear: both;
}
#main-content,
header {
  width: 100%;
}
main {
  float: left;
  clear: none;
  text-align: inherit;
  width: 65.66666666666666%;
  margin-left: 0%;
  margin-right: 3%;
}
main::after {
  content: '';
  display: table;
  clear: both;
}
main:last-child {
  margin-right: 0%;
}
#main-aside {
  float: left;
  clear: none;
  text-align: inherit;
  width: 31.33333333333333%;
  margin-left: 0%;
  margin-right: 3%;
  margin-top: 6em;
}
#main-aside::after {
  content: '';
  display: table;
  clear: both;
}
#main-aside:last-child {
  margin-right: 0%;
}
.priced-items::after {
  content: '';
  display: table;
  clear: both;
}
.priced-item {
  float: left;
  clear: none;
  text-align: inherit;
  width: 31.33333333333333%;
  margin-left: 0%;
  margin-right: 3%;
}
.priced-item::after {
  content: '';
  display: table;
  clear: both;
}
.priced-item:nth-child(n) {
  margin-right: 3%;
  float: left;
  clear: none;
}
.priced-item:nth-child(3n) {
  margin-right: 0%;
  float: right;
}
.priced-item:nth-child(3n + 1) {
  clear: both;
}
@media (max-width: 800px) {
  .regular-width,
  .centred,
  main,
  aside {
    max-width: medium-width;
  }
  main,
  #main-aside {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: static;
    left: 0;
  }
  main:first-child,
  #main-aside:first-child {
    margin-left: auto;
  }
  main:last-child,
  #main-aside:last-child {
    margin-right: auto;
  }
  #main-aside {
    margin-top: 0;
  }
}
/* Small (mobile) display targeting */
/* Lower the font sizes for small displays */
@media only screen and (max-width: 640px) {
  .regular-width,
  #top-bar nav,
  #bottom-bar footer {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 480px) {
  .priced-item {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .priced-item:first-child {
    margin-left: auto;
  }
  .priced-item:last-child {
    margin-right: auto;
  }
}
/* Medium size / tablet display targeting */
/* Small (mobile) display targeting */
/* Lower the font sizes for small displays */
body {
  color: #222;
}
blockquote {
  color: #666;
}
#top-bar,
#bottom-bar {
  background: #000;
  color: #eee;
}
#top-bar a,
#bottom-bar a {
  color: #bcf;
  text-decoration: none;
}
#top-bar a:hover,
#bottom-bar a:hover {
  color: #fff;
}
#top-bar nav ul li:first-child a,
#bottom-bar nav ul li:first-child a {
  padding-left: 0;
}
