@import "./framework"

//
// Site Styles
//
// Your site’s unique styles go in here. The framework gives you kouto-swiss,
// the Jeet grid layout system, a few helper functions and some default styles.
//
// You can change the Jeet and framework settings in settings.styl.
//

// Uncomment this to highlight all block elements and help you see the layout
// and nesting.
//debug()

//h1
  //font-size (ms(0) / 2)

//dd
  //margin (modular-scale(0) / 2) 0 0 modular-scale(0)

pre
  overflow hidden


//
// Sample Page Layout
//

#top-bar, #bottom-bar
  overflow auto

nav, footer
  center()

#main-content
  center()

main
  column(2/3)
  // Uncomment these moves to switch the main and aside.
  //move(1/3)

aside
  column(1/3)
  // Uncomment these moves to switch the main and aside.
  //move(-2/3)

.priced-items
  clearfix()

.priced-item
  column(1/3, $cycle: 3)
  // Use this line instead if you want the item margins to be the same width as
  // the main page layout column margins.
  //column(1/3 2/3, $cycle: 3)


// medium width layout
@media (max-width: screen-medium)
  .centred, #main-content, main, aside
    max-width medium-width

  main, aside
    stack()
    unmove()


// mobile width layout
@media (max-width: screen-small)
  .priced-item
    stack()


//
// Colors
//

body
  color #222

#top-bar, #bottom-bar
  background black
  color #eee
  a
    color #ccf
    text-decoration none
