//
// Site Settings
//
// Your site specific settings go here. The framework will import this file. You
// can overide any variables from Jeet or the framework’s settings.
//
// The framework’s settings are in `framework/settings`.
//
// Jeet settings are listed and explained here:
// https://github.com/mojotech/jeet/blob/master/docs/settings.md
//
// Note that we set $jeet.max-width to screen-xlarge, so set $jeet.max-width by
// setting screen-xlarge.
//
// Some examples of changing Jeet settings.
//
//$jeet.gutter = 3
//$jeet.parent-first = true
//


//base-font-size = 16px
//important-mod-num = 44px
base-font-size = 1em
important-mod-num = 3em
