@import "kouto-swiss"
@import "jeet"


normalize()

*
  color #222

body
  //background-image: linear-gradient( -45deg, yellow, green )
  background #ddd
  width 1280px
  margin 0 auto

header, main, aside
  background white

main
  span(2/3, cycle: 3)

aside
  span(1/3, cycle: 3)
